
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Hakkımda
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bilgilendirme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Merhaba ben <b>Murat Tokak,</b></p>
                <p>
                    Murat Yücedağ'ın youtube'ta bulunan kanalın ücretsiz yayınladığı 50 derste Mvc serisinde 45.videoya kadarki bölümünde yaptıklarımın bir özeti olarak bu bilgileri kaydediyorum

                </p>

            </div>
            <div class="modal-footer">
                <p>Tarih : 24:05:2023</p>
                
              
            </div>
        </div>
    </div>
</div>

