@model StockMvcProject.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" name="MUSTERISOYAD" class="form-control" />
    </div>
    <button class="btn btn-info" style="margin-top:15px" id="btn1">Müşteri Ekle</button>

    <script>
        $('#btn1').click(function () {
            alert("Müşteri ekleme işlemi tamam");
        })
    </script>
</form>





